<?xml version="1.0" encoding="utf-8" standalone="no"?>
<settings>
<database>
<location>local</location>
<hostName>127.0.0.1</hostName>
<userName>root</userName>
<userPassword><![CDATA[104, -123, -11, 5, 2, -78, 20, -14, ]]></userPassword>
</database>
<priceName>
<NC>NC</NC>
<PCA>PC A</PCA>
<PCB>PC B</PCB>
<PCC>PC C</PCC>
<PCD>PC D</PCD>
</priceName>
<showZeroCards show="true"/>
<showWelcomeScreen show="false"/>
<fonts>
<mainItems size="12"/>
<labels size="12"/>
<textFields size="12"/>
</fonts>
<licenseKey licenseOwner="vyvoj">732721b06d316c4c7dcb05c7d2720bafa5d1d9fa</licenseKey>
</settings>
